.grooming-canin-prices-layout {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}

.grooming-canin-prices-max-width {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.grooming-canin-prices-header-container {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: center;
  margin-bottom: var(--dl-layout-space-twounits);
  flex-direction: column;
}

.grooming-canin-prices-header-title {
  width: 100%;
  font-size: 36px;
  font-family: "ChalkboardSE-Regular";
}

.grooming-canin-prices-content {
  width: 100%;
  font-size: 24px;
  font-family: "ChalkboardSE-Regular";
}

.grooming-canin-prices-content-container {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}

.grooming-canin-prices-card1 {
  color: var(--dl-color-theme-neutral-light);
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent1);
}

.grooming-canin-prices-card2 {
  color: var(--dl-color-theme-neutral-light);
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary2);
}

.grooming-canin-prices-card-title {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 36px;
  font-family: "ChalkboardSE-Regular";
}

.grooming-canin-prices-container {
  width: 100%;
  height: auto;
  display: flex;
}

.grooming-canin-prices-ul {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: grid;
  place-items: center start;
  padding: 0px;
}

.grooming-canin-prices-row-header {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-family: "ChalkboardSE-Regular";
  font-size: 22px;
  font-weight: 700;
}

.grooming-canin-prices-row-text {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 22px;
  font-family: "ChalkboardSE-Regular";
}

.grooming-canin-prices-ul .list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.grooming-canin-prices-ul .list-item > :nth-child(1) {
  width: 70%;
}

.grooming-canin-prices-ul .list-item > :nth-child(2) {
  width: 30%;
  text-align: right;
}

.grooming-canin-prices-ul {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: grid;
  align-self: stretch;
  margin-top: 0px;
  place-items: center start;
  grid-row-end: 2;
  margin-bottom: 0px;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-column-start: 1;
  padding: 0px;
}

@media (max-width: 1200px) {
  .grooming-canin-prices-header-title {
    font-size: 30px;
    text-align: center;
  }
  .grooming-canin-prices-content {
    font-size: 20px;
    text-align: center;
  }
  .grooming-canin-prices-card-title {
    font-size: 30px;
  }
}

@media (max-width: 991px) {
  .grooming-canin-prices-max-width {
    flex-direction: column;
  }
  .grooming-canin-prices-content-container {
    flex-direction: column;
  }
  .grooming-canin-prices-card-title {
    font-size: 24px;
  }
  .grooming-canin-prices-row-header {
    font-size: 20px;
  }
  .grooming-canin-prices-row-text {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .grooming-canin-prices-header-title {
    font-size: 24px;
  }
  .grooming-canin-prices-content {
    font-size: 16px;
  }
}

@media (max-width: 479px) {
  .grooming-canin-prices-row-header {
    font-size: 18px;
  }
  .grooming-canin-prices-row-text {
    font-size: 18px;
  }
}
