.contact-container {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  padding-top: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
  background-color: var(--dl-color-theme-neutral-light);
}

.contact-max-width {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-section-title {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.contact-title-content {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.contact-title-heading {
  width: 100%;
  font-size: 48px;
  font-family: "ChalkboardSE-Regular";
}

.contact-title-text {
  width: 100%;
  font-size: 22px;
  font-family: "ChalkboardSE-Regular";
}

.contact-row {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}

.contact-row-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.contact-info {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}

.contact-info-title {
  width: 100%;
  font-size: 26px;
  align-self: flex-start;
  font-family: "ChalkboardSE-Regular";
}

.contact-info-description {
  width: 100%;
  font-size: 20px;
  font-family: "ChalkboardSE-Regular";
}

.contact-info-value {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
  font-size: 20px;
  font-family: "ChalkboardSE-Regular";
}

.contact-info-value a {
  text-decoration: underline;
}

.contact-google-maps-container {
  flex: 0 0 auto;
  width: 100%;
  display: block;
  margin-top: 15px;
}

.contact-google-maps {
  width: 100%;
  height: 400px;
  margin-top: var(--dl-layout-space-unit);
}

.contact-icon {
  display: flex;
  gap: 5px;
  justify-content: center;
}

@media (max-width: 1600px) {
  .contact-title-heading {
    font-size: 44px;
  }
  .contact-title-text {
    font-size: 20px;
  }
  .contact-info-title {
    font-size: 24px;
  }
}

@media (max-width: 1200px) {
  .contact-title-heading {
    font-size: 40px;
    text-align: center;
  }
  .contact-title-text {
    font-size: 18px;
    text-align: center;
  }
  .contact-info-title {
    font-size: 22px;
    text-align: center;
  }
  .contact-info-description {
    font-size: 18px;
    text-align: center;
  }
  .contact-info-value {
    text-align: center;
    font-size: 18px;
  }
  .contact-icon {
    text-align: center;
    width: 100%;
  }
  .contact-row {
    flex-direction: column;
  }
}

@media (max-width: 991px) {
  .contact-title-heading {
    font-size: 36px;
  }
  .contact-title-text {
    font-size: 16px;
  }
  .contact-info-title {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .contact-title-heading {
    font-size: 32px;
  }
  .contact-title-text {
    font-size: 14px;
  }

  .contact-info-title {
    font-size: 18px;
  }
  .contact-info-description {
    font-size: 16px;
  }
  .contact-info-value {
    font-size: 16px;
  }
}

@media (max-width: 479px) {
  .contact-container {
    padding-top: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .contact-title-heading {
    font-size: 28px;
  }
  .contact-row {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .contact-info-title {
    font-size: 18px;
  }
}
