.grooming-canin-intro-main-container {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-layout-space-threeunits);
  padding-left: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-threeunits);
  justify-content: center;
  background-image: linear-gradient(
    -90deg,
    #f0f9f8 0%,
    #c6e6e3 60%,
    #81bfb7 100%
  );
}

.grooming-canin-intro-max-width {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.grooming-canin-intro-column {
  gap: var(--dl-layout-space-unit);
  width: 50%;
  display: flex;
  padding: 0px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.grooming-canin-intro-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.grooming-canin-intro-heading {
  width: 100%;
  font-size: 44px;
  font-family: "ChalkboardSE-Regular";
}

.grooming-canin-intro-heading-content {
  width: 100%;
  font-size: 20px;
  font-family: "ChalkboardSE-Regular";
}

.grooming-canin-intro-photos-content {
  gap: var(--dl-layout-space-unit);
  width: 50%;
  height: 900px;
  display: flex;
  position: relative;
  align-items: center;
}

.grooming-canin-intro-column1,
.grooming-canin-intro-column2 {
  gap: 16px;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.grooming-canin-intro-image {
  height: 400px;
  width: 100%;
  align-self: stretch;
  border-radius: var(--dl-layout-radius-radius4);
}

@media (max-width: 1600px) {
  .grooming-canin-intro-heading {
    font-size: 42px;
  }
  .grooming-canin-intro-heading-content {
    font-size: 20px;
  }
  .grooming-canin-intro-image {
    height: 300px;
  }
}

@media (max-width: 1200px) {
  .grooming-canin-intro-column {
    padding: var(--dl-layout-space-halfunit);
  }
  .grooming-canin-intro-heading {
    font-size: 38px;
  }
  .grooming-canin-intro-heading-content {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .grooming-canin-intro-main-container {
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
  }
  .grooming-canin-intro-max-width {
    flex-direction: column;
  }
  .grooming-canin-intro-column {
    width: 100%;
    padding: var(--dl-layout-space-threeunits);
  }
  .grooming-canin-intro-heading {
    font-size: 34px;
    text-align: center;
  }
  .grooming-canin-intro-heading-content {
    text-align: center;
  }
  .grooming-canin-intro-column1 {
    width: auto;
    margin-top: 0px;
    margin-left: -200px;
    flex-direction: row;
  }
  .grooming-canin-intro-image {
    width: 400px;
  }
  .grooming-canin-intro-column2 {
    width: auto;
    flex-direction: row;
  }
  .grooming-canin-intro-photos-content {
    width: auto;
    height: auto;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .grooming-canin-intro-heading {
    font-size: 30px;
  }
  .grooming-canin-intro-heading-content {
    font-size: 16px;
  }
  .grooming-canin-intro-column1 {
    width: 100%;
    margin-left: 0px;
    flex-direction: column;
  }
  .grooming-canin-intro-image {
    width: 100%;
    height: 500px;
  }
  .grooming-canin-intro-column2 {
    display: none;
  }
}

@media (max-width: 479px) {
  .grooming-canin-intro-main-container {
    padding-top: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-unit);
  }
  .grooming-canin-intro-column {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .grooming-canin-intro-heading {
    font-size: 24px;
  }
  .grooming-canin-intro-heading-content {
    font-size: 16px;
  }
}
