.cat-hotel-sales-layout {
  padding-top: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-threeunits);
  background-color: var(--dl-color-theme-neutral-light);
}

.cat-hotel-sales-max-width {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cat-hotel-sales-container {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
}

.cat-hotel-sales-title {
  width: 100%;
  font-size: 40px;
  font-family: "ChalkboardSE-Regular";
}

.cat-hotel-sales-container3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.cat-hotel-sales-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.cat-hotel-sales-text2 {
  font-size: 24px;
  font-family: "ChalkboardSE-Regular";
}

.cat-hotel-sales-text3 {
  font-size: 22px;
  font-family: "ChalkboardSE-Regular";
}

.cat-hotel-sales-accent2-bg2 {
  background-color: var(--dl-color-theme-primary1);
}

.cat-hotel-sales-accent1-bg2 {
  background-color: var(--dl-color-theme-primary2);
}

.cat-hotel-sales-container5 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.cat-hotel-sales-container6 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.cat-hotel-sales-text4 {
  font-size: 24px;
  font-family: "ChalkboardSE-Regular";
}

.cat-hotel-sales-text5 {
  font-size: 22px;
  font-family: "ChalkboardSE-Regular";
}

.cat-hotel-sales-accent2-bg3 {
  background-color: var(--dl-color-theme-primary2);
}

.cat-hotel-sales-accent1-bg3 {
  background-color: var(--dl-color-theme-secondary2);
}

.cat-hotel-sales-container7 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.cat-hotel-sales-container8 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.cat-hotel-sales-text6 {
  font-size: 24px;
  font-family: "ChalkboardSE-Regular";
}

.cat-hotel-sales-text7 {
  font-size: 22px;
  font-family: "ChalkboardSE-Regular";
}

@media (max-width: 1600px) {
  .cat-hotel-sales-layout {
    padding-top: var(--dl-layout-space-twounits);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .cat-hotel-sales-title {
    font-size: 36px;
  }
  .cat-hotel-sales-text2 {
    font-size: 22px;
  }
  .cat-hotel-sales-text3 {
    font-size: 20px;
  }
  .cat-hotel-sales-accent1-bg2 {
    background-color: var(--dl-color-theme-primary2);
  }
  .cat-hotel-sales-text4 {
    font-size: 22px;
  }
  .cat-hotel-sales-text5 {
    font-size: 20px;
  }
  .cat-hotel-sales-text6 {
    font-size: 22px;
  }
  .cat-hotel-sales-text7 {
    font-size: 20px;
  }
  .cat-hotel-salesroot-class-name {
    background-color: transparent;
  }
}

@media (max-width: 1200px) {
  .cat-hotel-sales-title {
    font-size: 32px;
    text-align: center;
  }
  .cat-hotel-sales-text2 {
    font-size: 20px;
  }
  .cat-hotel-sales-text3 {
    font-size: 18px;
  }
  .cat-hotel-sales-text4 {
    font-size: 20px;
  }
  .cat-hotel-sales-text5 {
    font-size: 18px;
  }
  .cat-hotel-sales-text6 {
    font-size: 20px;
  }
  .cat-hotel-sales-text7 {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .cat-hotel-sales-title {
    font-size: 28px;
  }
  .cat-hotel-sales-text2 {
    font-size: 18px;
  }
  .cat-hotel-sales-text3 {
    font-size: 16px;
  }
  .cat-hotel-sales-text4 {
    font-size: 18px;
  }
  .cat-hotel-sales-text5 {
    font-size: 16px;
  }
  .cat-hotel-sales-text6 {
    font-size: 18px;
  }
  .cat-hotel-sales-text7 {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .cat-hotel-sales-title {
    font-size: 24px;
  }
  .cat-hotel-sales-text2 {
    font-size: 16px;
  }
  .cat-hotel-sales-text3 {
    font-size: 14px;
  }
  .cat-hotel-sales-text4 {
    font-size: 16px;
  }
  .cat-hotel-sales-text5 {
    font-size: 14px;
  }
  .cat-hotel-sales-text6 {
    font-size: 16px;
  }
  .cat-hotel-sales-text7 {
    font-size: 14px;
  }
}

@media (max-width: 479px) {
  .cat-hotel-sales-title {
    font-size: 20px;
  }
  .cat-hotel-sales-text2 {
    font-size: 14px;
  }
  .cat-hotel-sales-text3 {
    font-size: 12px;
  }
  .cat-hotel-sales-text4 {
    font-size: 14px;
  }
  .cat-hotel-sales-text5 {
    font-size: 12px;
  }
  .cat-hotel-sales-text6 {
    font-size: 14px;
  }
  .cat-hotel-sales-text7 {
    font-size: 12px;
  }
  .cat-hotel-salesroot-class-name {
    padding-top: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
  }
}
