.grooming-canin-extra-services-container {
  padding: var(--dl-layout-space-threeunits) var(--dl-layout-space-fiveunits);
}

.grooming-canin-extra-services-max-width {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.grooming-canin-extra-services-header {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.grooming-canin-extra-services-header-title,
.grooming-canin-extra-services-footer-title {
  width: 100%;
  font-size: 36px;
  font-family: "ChalkboardSE-Regular";
}

.grooming-canin-extra-services-header-info,
.grooming-canin-extra-services-footer-info {
  width: 100%;
  font-size: 24px;
  font-family: "ChalkboardSE-Regular";
}

.grooming-canin-extra-services-cards-container {
  width: 100%;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  justify-content: space-between;
}

.grooming-canin-extra-services-card-container {
  width: 30%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.grooming-canin-extra-services-card-background1 {
  background-color: var(--dl-color-theme-accent1);
}

.grooming-canin-extra-services-card-background2 {
  background-color: var(--dl-color-theme-secondary2);
}

.grooming-canin-extra-services-card-background3 {
  background-color: var(--dl-color-theme-primary2);
}

.grooming-canin-extra-services-card-title {
  font-size: 28px;
  font-family: "ChalkboardSE-Regular";
}

.grooming-canin-extra-services-card-price {
  font-size: 24px;
  font-family: "ChalkboardSE-Regular";
}

.grooming-canin-extra-services-card-description {
  text-align: center;
  font-family: "ChalkboardSE-Regular";
}

.grooming-canin-extra-services-footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

@media (max-width: 1600px) {
  .grooming-canin-extra-services-header {
    gap: var(--dl-layout-space-halfunit);
  }
  .grooming-canin-extra-services-card-title {
    font-size: 26px;
  }
  .grooming-canin-extra-services-card-price {
    font-size: 20px;
  }
  .grooming-canin-extra-services-footer {
    gap: var(--dl-layout-space-halfunit);
  }
}

@media (max-width: 1200px) {
  .grooming-canin-extra-services-header-title,
  .grooming-canin-extra-services-footer-title {
    font-size: 30px;
    text-align: center;
  }
  .grooming-canin-extra-services-header-info,
  .grooming-canin-extra-services-footer-info {
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 991px) {
  .grooming-canin-extra-services-cards-container {
    flex-direction: column;
  }
  .grooming-canin-extra-services-card-container {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .grooming-canin-extra-services-header-title,
  .grooming-canin-extra-services-footer-title {
    font-size: 24px;
  }
  .grooming-canin-extra-services-header-info,
  .grooming-canin-extra-services-footer-info {
    font-size: 16px;
  }
}

@media (max-width: 479px) {
  .grooming-canin-extra-services-container {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .grooming-canin-extra-services-max-width {
    gap: var(--dl-layout-space-unit);
  }
  .grooming-canin-extra-services-header-title {
    font-size: 24px;
  }
  .grooming-canin-extra-services-card-title {
    font-size: 26px;
  }
}
