.cat-hotel-rooms-list-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding: var(--dl-layout-space-threeunits);
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}

.cat-hotel-rooms-list-max-width {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cat-hotel-rooms-list-content {
  align-self: stretch;
  align-items: flex-start;
}

.cat-hotel-rooms-list-li {
  align-items: flex-start;
}

.cat-hotel-rooms-list-heading {
  font-size: 40px;
  align-self: flex-start;
  font-family: "ChalkboardSE-Regular";
}

.cat-hotel-rooms-list-details-ul {
  align-items: flex-start;
  padding-left: var(--dl-layout-space-twounits);
}

.cat-hotel-rooms-list-details-item-text {
  font-size: 26px;
  font-family: "ChalkboardSE-Regular";
  font-weight: 400;
}

@media (max-width: 1600px) {
  .cat-hotel-rooms-list-heading {
    font-size: 36px;
  }

  .cat-hotel-rooms-list-details-item-text {
    font-size: 24px;
  }
}

@media (max-width: 1200px) {
  .cat-hotel-rooms-list-heading {
    width: 100%;
    font-size: 32px;
    text-align: center;
  }
  .cat-hotel-rooms-list-details-item-text {
    font-size: 22px;
  }
}

@media (max-width: 991px) {
  .cat-hotel-rooms-list-heading {
    font-size: 28px;
  }
  .cat-hotel-rooms-list-details-ul {
    gap: var(--dl-layout-space-unit);
  }
  .cat-hotel-rooms-list-details-item-text {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .cat-hotel-rooms-list-container {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .cat-hotel-rooms-list-heading {
    font-size: 24px;
  }
  .cat-hotel-rooms-list-details-ul {
    padding-left: var(--dl-layout-space-threeunits);
  }
  .cat-hotel-rooms-list-details-item-text {
    font-size: 18px;
  }
}

@media (max-width: 479px) {
  .cat-hotel-rooms-list-container {
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
  }
  .cat-hotel-rooms-list-li1 {
    gap: var(--dl-layout-space-halfunit);
  }
  .cat-hotel-rooms-list-heading {
    font-size: 20px;
  }
  .cat-hotel-rooms-list-details-ul {
    gap: var(--dl-layout-space-unit);
    padding-left: var(--dl-layout-space-oneandhalfunits);
  }
  .cat-hotel-rooms-list-details-item-text {
    font-size: 16px;
  }
}
