.cat-hotel-rules-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.cat-hotel-rules-heading1 {
  width: 100%;
  font-size: 40px;
  font-family: "ChalkboardSE-Regular";
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
}
 
.cat-hotel-rules-text10 {
  width: 100%;
  font-size: 22px;
  font-family: "ChalkboardSE-Regular";
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
}
 
.cat-hotel-rules-container2 {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.cat-hotel-rules-container3 {
  flex: 1;
  display: flex;
  padding: var(--dl-layout-space-threeunits);
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-theme-accent2);
}
 
.cat-hotel-rules-image1 {
  max-width: var(--dl-layout-size-xxlarge);
}
 
.cat-hotel-rules-text11 {
  font-size: 36px;
  font-family: "ChalkboardSE-Regular";
}
 
.cat-hotel-rules-text12 {
  font-size: 22px;
  text-align: center;
  font-family: "ChalkboardSE-Regular";
}
 
.cat-hotel-rules-container4 {
  flex: 1;
  display: flex;
  padding: var(--dl-layout-space-threeunits);
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-theme-accent1);
}
 
.cat-hotel-rules-image2 {
  max-width: var(--dl-layout-size-xxlarge);
}
 
.cat-hotel-rules-text13 {
  font-size: 36px;
  font-family: "ChalkboardSE-Regular";
}
 
.cat-hotel-rules-text14 {
  font-size: 22px;
  text-align: center;
  font-family: "ChalkboardSE-Regular";
}
 
.cat-hotel-rules-container5 {
  flex: 1;
  display: flex;
  padding: var(--dl-layout-space-threeunits);
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-theme-secondary2);
}
 
.cat-hotel-rules-image3 {
  max-width: var(--dl-layout-size-xxlarge);
}
 
.cat-hotel-rules-text15 {
  font-size: 36px;
  font-family: "ChalkboardSE-Regular";
}
 
.cat-hotel-rules-text16 {
  font-size: 22px;
  text-align: center;
  font-family: "ChalkboardSE-Regular";
}
 
.cat-hotel-rules-container6 {
  flex: 1;
  display: flex;
  padding: var(--dl-layout-space-threeunits);
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-theme-primary2);
}
 
.cat-hotel-rules-image4 {
  max-width: var(--dl-layout-size-xxlarge);
}
 
.cat-hotel-rules-text17 {
  font-size: 36px;
  font-family: "ChalkboardSE-Regular";
}
 
.cat-hotel-rules-text18 {
  font-size: 22px;
  text-align: center;
  font-family: "ChalkboardSE-Regular";
}
 
.cat-hotel-rules-container7 {
  flex: 1;
  display: flex;
  padding: var(--dl-layout-space-threeunits);
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-theme-primary1);
}
 
.cat-hotel-rules-image5 {
  max-width: var(--dl-layout-size-xxlarge);
}
 
.cat-hotel-rules-text19 {
  font-size: 36px;
  font-family: "ChalkboardSE-Regular";
}
 
.cat-hotel-rules-text20 {
  font-size: 22px;
  text-align: center;
  font-family: "ChalkboardSE-Regular";
}
 

 
@media(max-width: 1600px) {
  .cat-hotel-rules-container1 {
    padding: var(--dl-layout-space-twounits);
  }
  .cat-hotel-rules-heading1 {
    font-size: 36px;
  }
  .cat-hotel-rules-text10 {
    font-size: 20px;
  }
  .cat-hotel-rules-image1 {
    max-width: var(--dl-layout-size-xlarge);
  }
  .cat-hotel-rules-text11 {
    font-size: 32px;
  }
  .cat-hotel-rules-text12 {
    font-size: 20px;
  }
  .cat-hotel-rules-image2 {
    max-width: var(--dl-layout-size-xlarge);
  }
  .cat-hotel-rules-text13 {
    font-size: 32px;
  }
  .cat-hotel-rules-text14 {
    font-size: 20px;
  }
  .cat-hotel-rules-image3 {
    max-width: var(--dl-layout-size-xlarge);
  }
  .cat-hotel-rules-text15 {
    font-size: 32px;
  }
  .cat-hotel-rules-text16 {
    font-size: 20px;
  }
  .cat-hotel-rules-image4 {
    max-width: var(--dl-layout-size-xlarge);
  }
  .cat-hotel-rules-text17 {
    font-size: 32px;
  }
  .cat-hotel-rules-text18 {
    font-size: 20px;
  }
  .cat-hotel-rules-image5 {
    max-width: var(--dl-layout-size-xlarge);
  }
  .cat-hotel-rules-text19 {
    font-size: 32px;
  }
  .cat-hotel-rules-text20 {
    font-size: 20px;
  }
  .cat-hotel-rulesroot-class-name {
    background-color: transparent;
  }
}
 
@media(max-width: 1200px) {
  .cat-hotel-rules-heading1 {
    font-size: 32px;
    text-align: center;
  }
  .cat-hotel-rules-text10 {
    font-size: 18px;
    text-align: center;
  }
  .cat-hotel-rules-container2 {
    flex-direction: column;
  }
  .cat-hotel-rules-container3 {
    padding-top: var(--dl-layout-space-twounits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .cat-hotel-rules-image1 {
    max-width: var(--dl-layout-size-large);
  }
  .cat-hotel-rules-text11 {
    font-size: 28px;
  }
  .cat-hotel-rules-text12 {
    font-size: 24px;
  }
  .cat-hotel-rules-container4 {
    padding-top: var(--dl-layout-space-twounits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .cat-hotel-rules-image2 {
    max-width: var(--dl-layout-size-large);
  }
  .cat-hotel-rules-text13 {
    font-size: 28px;
  }
  .cat-hotel-rules-text14 {
    font-size: 24px;
  }
  .cat-hotel-rules-container5 {
    padding-top: var(--dl-layout-space-twounits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .cat-hotel-rules-image3 {
    max-width: var(--dl-layout-size-large);
  }
  .cat-hotel-rules-text15 {
    font-size: 28px;
  }
  .cat-hotel-rules-text16 {
    font-size: 24px;
  }
  .cat-hotel-rules-container6 {
    padding-top: var(--dl-layout-space-twounits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .cat-hotel-rules-image4 {
    max-width: var(--dl-layout-size-large);
  }
  .cat-hotel-rules-text17 {
    font-size: 28px;
  }
  .cat-hotel-rules-text18 {
    font-size: 24px;
  }
  .cat-hotel-rules-image5 {
    max-width: var(--dl-layout-size-large);
  }
  .cat-hotel-rules-text19 {
    font-size: 28px;
  }
  .cat-hotel-rules-text20 {
    font-size: 24px;
  }
}
 
@media(max-width: 991px) {
  .cat-hotel-rules-heading1 {
    font-size: 28px;
  }
  .cat-hotel-rules-text10 {
    font-size: 18px;
  }
  .cat-hotel-rules-image1 {
    max-width: var(--dl-layout-size-medium);
  }
  .cat-hotel-rules-text11 {
    font-size: 26px;
  }
  .cat-hotel-rules-text12 {
    font-size: 20px;
  }
  .cat-hotel-rules-image2 {
    max-width: var(--dl-layout-size-medium);
  }
  .cat-hotel-rules-text13 {
    font-size: 26px;
  }
  .cat-hotel-rules-text14 {
    font-size: 20px;
  }
  .cat-hotel-rules-image3 {
    max-width: var(--dl-layout-size-medium);
  }
  .cat-hotel-rules-text15 {
    font-size: 26px;
  }
  .cat-hotel-rules-text16 {
    font-size: 20px;
  }
  .cat-hotel-rules-image4 {
    max-width: var(--dl-layout-size-medium);
  }
  .cat-hotel-rules-text17 {
    font-size: 26px;
  }
  .cat-hotel-rules-text18 {
    font-size: 20px;
  }
  .cat-hotel-rules-image5 {
    max-width: var(--dl-layout-size-medium);
  }
  .cat-hotel-rules-text19 {
    font-size: 26px;
  }
  .cat-hotel-rules-text20 {
    font-size: 20px;
  }
}
 
@media(max-width: 767px) {
  .cat-hotel-rules-heading1 {
    font-size: 24px;
  }
  .cat-hotel-rules-text10 {
    font-size: 16px;
  }
  .cat-hotel-rules-text11 {
    font-size: 24px;
  }
  .cat-hotel-rules-text12 {
    font-size: 18px;
  }
  .cat-hotel-rules-text13 {
    font-size: 24px;
  }
  .cat-hotel-rules-text14 {
    font-size: 18px;
  }
  .cat-hotel-rules-text15 {
    font-size: 24px;
  }
  .cat-hotel-rules-text16 {
    font-size: 18px;
  }
  .cat-hotel-rules-text17 {
    font-size: 24px;
  }
  .cat-hotel-rules-text18 {
    font-size: 18px;
  }
  .cat-hotel-rules-text19 {
    font-size: 24px;
  }
  .cat-hotel-rules-text20 {
    font-size: 18px;
  }
}
 
@media(max-width: 479px) {
  .cat-hotel-rules-heading1 {
    font-size: 20px;
  }
  .cat-hotel-rules-text10 {
    font-size: 14px;
  }
  .cat-hotel-rules-text11 {
    font-size: 22px;
  }
  .cat-hotel-rules-text12 {
    font-size: 16px;
  }
  .cat-hotel-rules-text13 {
    font-size: 22px;
    font-family: ChalkboardSE-Regular;
  }
  .cat-hotel-rules-text14 {
    font-size: 16px;
    font-family: ChalkboardSE-Regular;
  }
  .cat-hotel-rules-text15 {
    font-size: 22px;
    font-family: ChalkboardSE-Regular;
  }
  .cat-hotel-rules-text16 {
    font-size: 16px;
    font-family: ChalkboardSE-Regular;
  }
  .cat-hotel-rules-text17 {
    font-size: 22px;
    font-family: ChalkboardSE-Regular;
  }
  .cat-hotel-rules-text18 {
    font-size: 16px;
    font-family: ChalkboardSE-Regular;
  }
  .cat-hotel-rules-container7 {
    padding-top: var(--dl-layout-space-twounits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .cat-hotel-rules-text19 {
    font-size: 22px;
    font-family: ChalkboardSE-Regular;
  }
  .cat-hotel-rules-text20 {
    font-size: 16px;
    font-family: ChalkboardSE-Regular;
  }
  .cat-hotel-rulesroot-class-name {
    padding-top: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
  }
}
