.main-page-info1-container1 {
  padding-top: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-threeunits);
  background-image: linear-gradient(180deg, #f0f9f8 0%,#c6e6e3 60%,#81bfb7 100%);
}
 
.main-page-info1-container2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-layout-space-fiveunits);
  position: relative;
  grid-template-columns: 1fr 1fr;
}
 
.main-page-info1-image-container {
  height: 100%;
  display: flex;
  position: relative;
}
 
.main-page-info1-image1 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.main-page-info1-image2 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.main-page-info1-image3 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.main-page-info1-tabs-menu {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.main-page-info1-tab-horizontal1 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.main-page-info1-divider-container1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.main-page-info1-container3 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.main-page-info1-content1 {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.main-page-info1-feature1-title1 {
  font-size: 36px;
  font-family: "ChalkboardSE-Regular";
}
 
.main-page-info1-feature1-description {
  font-family: ChalkboardSE-Regular;
  align-content: 16px;
}
 
.main-page-info1-tab-horizontal2 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.main-page-info1-divider-container2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.main-page-info1-container4 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.main-page-info1-content2 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.main-page-info1-feature1-title2 {
  font-size: 36px;
  font-family: "ChalkboardSE-Regular";
}
 
.main-page-info1-feature2-description {
  font-size: 16px;
  font-family: "auto";
}
 
.main-page-info1-tab-horizontal3 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.main-page-info1-divider-container3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.main-page-info1-container5 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.main-page-info1-content3 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.main-page-info1-feature1-title3 {
  font-size: 36px;
  font-family: "ChalkboardSE-Regular";
}
 
.main-page-info1-feature3-description {
  font-size: 16px;
  font-family: ""ChalkboardSE-Regular"";
}
 

 
@media(max-width: 1600px) {
  .main-page-info1-container1 {
    background-color: var(--dl-color-theme-secondary1);
  }
  .main-page-info1root-class-name {
    background-color: transparent;
  }
}
 
@media(max-width: 1200px) {
  .main-page-info1-feature1-title1 {
    font-size: 34px;
  }
  .main-page-info1-feature1-title2 {
    font-size: 34px;
  }
  .main-page-info1-feature1-title3 {
    font-size: 34px;
  }
}
 
@media(max-width: 991px) {
  .main-page-info1-container2 {
    grid-gap: var(--dl-layout-space-twounits);
    grid-template-columns: 1fr;
  }
  .main-page-info1-tabs-menu {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .main-page-info1-content1 {
    gap: 8px;
  }
  .main-page-info1-feature1-title1 {
    font-size: 32px;
  }
  .main-page-info1-feature1-description {
    font-size: 14px;
  }
  .main-page-info1-content2 {
    gap: 8px;
  }
  .main-page-info1-feature1-title2 {
    font-size: 32px;
  }
  .main-page-info1-feature2-description {
    font-size: 14px;
  }
  .main-page-info1-content3 {
    gap: 8px;
  }
  .main-page-info1-feature1-title3 {
    font-size: 32px;
  }
  .main-page-info1-feature3-description {
    font-size: 14px;
  }
}
 
@media(max-width: 767px) {
  .main-page-info1-feature1-title1 {
    font-size: 30px;
  }
  .main-page-info1-feature1-title2 {
    font-size: 30px;
  }
  .main-page-info1-feature1-title3 {
    font-size: 30px;
  }
}
 
@media(max-width: 479px) {
  .main-page-info1-feature1-title1 {
    font-size: 28px;
  }
  .main-page-info1-feature1-title2 {
    font-size: 28px;
  }
  .main-page-info1-feature1-title3 {
    font-size: 28px;
  }
  .main-page-info1-feature3-description {
    font-family: ChalkboardSE-Regular;
  }
}
