.navbar-container {
  top: 0;
  width: 100%;
  height: var(--dl-layout-size-medium);
  display: flex;
  z-index: 1000;
  position: sticky;
  justify-content: center;
  background-color: transparent;
}
 
.navbar-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: space-between;
}
 
.navbar-navlink {
  display: contents;
}
 
.navbar-image {
  width: 250px;
  height: 75px;
  object-fit: cover;
  text-decoration: none;
}
 
.navbar-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar-links {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.navbar-link1 {
  font-size: 26px;
  font-family: "ChalkboardSE-Regular";
  text-decoration: none;
}
 
.navbar-link2 {
  font-size: 26px;
  font-family: "ChalkboardSE-Regular";
  text-decoration: none;
}
 

 

 

 
@media(max-width: 1600px) {
  .navbar-link1 {
    font-family: ChalkboardSE-Regular;
  }
  .navbar-link2 {
    font-family: ChalkboardSE-Regular;
  }
  .navbarroot-class-name {
    background-color: transparent;
  }
  .navbarroot-class-name1 {
    height: var(--dl-layout-size-medium);
    background-color: transparent;
  }
  .navbarroot-class-name2 {
    height: var(--dl-layout-size-medium);
    background-color: transparent;
  }
}
 
@media(max-width: 1200px) {
  .navbarroot-class-name {
    background-color: transparent;
  }
}
 
@media(max-width: 991px) {
  .navbar-link1 {
    font-size: 22px;
  }
  .navbar-link2 {
    font-size: 22px;
  }
}
 
@media(max-width: 767px) {
  .navbar-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .navbar-image {
    width: 200px;
    height: 50px;
  }
  .navbar-link1 {
    font-size: 18px;
  }
  .navbar-link2 {
    font-size: 18px;
  }
}
 
@media(max-width: 479px) {
  .navbar-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .navbar-links {
    justify-content: space-between;
  }
}
