.cat-hotel-pricing-layout {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
  background-color: var(--dl-color-theme-neutral-light);
}

.cat-hotel-pricing-max-width {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cat-hotel-pricing-container {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

.cat-hotel-pricing-card {
  color: var(--dl-color-theme-neutral-light);
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-left: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent1);
}

.cat-hotel-pricing-title {
  color: var(--dl-color-theme-neutral-dark);
  font-size: 40px;
  font-family: "ChalkboardSE-Regular";
}

.cat-hotel-pricing-rooms-container {
  width: 100%;
  height: auto;
  display: flex;
}

.cat-hotel-pricing-ul {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: grid;
  place-items: center start;
  align-self: stretch;
  margin-top: 0px;
  place-items: center start;
  grid-row-end: 2;
  margin-bottom: 0px;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-column-start: 1;
  padding: 0px 10px;
}

.cat-hotel-pricing-row-header {
  color: var(--dl-color-theme-neutral-dark);
  font-size: 24px;
  font-family: "ChalkboardSE-Regular";
  font-weight: 700;
}

.cat-hotel-pricing-row-text {
  color: var(--dl-color-theme-neutral-dark);
  font-size: 24px;
  font-family: "ChalkboardSE-Regular";
}

.cat-hotel-pricing-ul .list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.cat-hotel-pricing-ul .list-item > :nth-child(1) {
  width: 70%;
}

.cat-hotel-pricing-ul .list-item > :nth-child(2) {
  width: 30%;
  text-align: right;
}

@media (max-width: 1600px) {
  .cat-hotel-pricing-card {
    height: auto;
    background-color: var(--dl-color-theme-accent1);
  }
  .cat-hotel-pricing-title {
    font-size: 36px;
  }
  .cat-hotel-pricing-row-header {
    font-size: 22px;
  }
  .cat-hotel-pricing-row-text {
    font-size: 22px;
  }
}
@media (max-width: 1200px) {
  .cat-hotel-pricing-title {
    font-size: 32px;
  }
  .cat-hotel-pricing-row-header {
    font-size: 20px;
  }
  .cat-hotel-pricing-row-text {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  .cat-hotel-pricing-layout {
    padding-top: var(--dl-layout-space-halfunit);
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .cat-hotel-pricing-container {
    flex-direction: column;
  }
  .cat-hotel-pricing-title {
    font-size: 28px;
  }
  .cat-hotel-pricing-row-header {
    font-size: 18px;
  }
  .cat-hotel-pricing-row-text {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .cat-hotel-pricing-title {
    font-size: 24px;
  }
  .cat-hotel-pricing-row-header {
    font-size: 16px;
  }
  .cat-hotel-pricing-row-text {
    font-size: 16px;
  }
}

@media (max-width: 479px) {
  .cat-hotel-pricing-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .cat-hotel-pricing-title {
    font-size: 20px;
  }
  .cat-hotel-pricing-row-header {
    font-size: 14px;
  }
  .cat-hotel-pricing-row-text {
    font-size: 14px;
  }
}
