.navbar-container {
  top: 0;
  width: 100%;
  height: var(--dl-layout-size-medium);
  display: flex;
  z-index: 1000;
  position: sticky;
  justify-content: center;
  background-color: transparent;
}

.glaas-navbar {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.navbar-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-unit);
}

.navbar-image {
  width: 250px;
  height: 75px;
  object-fit: cover;
  text-decoration: none;
}

.navbar-desktop-menu {
  flex: 1;
}

.navbar-links {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.navbar-link {
  font-size: 26px;
  font-family: "ChalkboardSE-Regular";
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(
    to right,
    var(--dl-color-theme-primary1) 50%,
    var(--dl-color-theme-neutral-dark) 50%
  );
  transition: background-position 300ms ease;
  font-weight: 600;
  background-clip: text;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-text-fill-color: transparent;
}

.navbar-link:hover {
  background-position: 0 100%;
}

@media (max-width: 991px) {
  .navbar-link {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .navbar-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .navbar-image {
    width: 200px;
    height: 50px;
  }
  .navbar-link {
    font-size: 18px;
  }
}

@media (max-width: 479px) {
  .navbar-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
}
