.grooming-canin-pricing-main-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-layout-space-fourunits);
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}

.grooming-canin-pricing-max-width {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.grooming-canin-pricing-section-title {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}

.grooming-canin-pricing-header {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  max-width: auto;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.grooming-canin-pricing-header-title {
  font-size: 36px;
  text-align: center;
  font-family: "ChalkboardSE-Regular";
}

.grooming-canin-pricing-header-description {
  font-size: 24px;
  text-align: center;
  font-family: "ChalkboardSE-Regular";
}

.grooming-canin-pricing-container {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

.grooming-canin-pricing-column1 {
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
  border-radius: var(--dl-layout-radius-radius8);
  background-color: var(--dl-color-theme-primary2);
}

.grooming-canin-pricing-card-container {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}

.grooming-canin-pricing-card-content {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}

.grooming-canin-pricing-card-title {
  font-size: 38px;
  font-family: "ChalkboardSE-Regular";
}

.grooming-canin-pricing-card-subtitle {
  font-size: 32px;
  font-family: "ChalkboardSE-Regular";
}

.grooming-canin-pricing-card-info {
  font-size: 18px;
  font-family: "ChalkboardSE-Regular";
  text-align: center;
}

.grooming-canin-pricing-list {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.grooming-canin-pricing-list-item {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}

.grooming-canin-pricing-item-text {
  font-size: 18px;
  font-family: "ChalkboardSE-Regular";
}

.grooming-canin-pricing-column2 {
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 0px;
  border-radius: var(--dl-layout-radius-radius8);
  background-color: var(--dl-color-theme-accent1);
}

@media (max-width: 1600px) {
  .grooming-canin-pricing-header-title {
    font-size: 34px;
  }
  .grooming-canin-pricing-container {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
  }
  .grooming-canin-pricing-card-subtitle {
    font-size: 28px;
  }
}

@media (max-width: 1200px) {
  .grooming-canin-pricing-header {
    align-items: center;
  }
  .grooming-canin-pricing-header-title {
    font-size: 32px;
  }
  .grooming-canin-pricing-header-description {
    font-size: 20px;
  }
  .grooming-canin-pricing-card-title {
    font-size: 34px;
  }
  .grooming-canin-pricing-card-subtitle {
    font-size: 24px;
  }
  .grooming-canin-pricing-card-info {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .grooming-canin-pricing-header-title {
    font-size: 30px;
  }
  .grooming-canin-pricing-container {
    flex-direction: column;
  }
  .grooming-canin-pricing-card-title {
    font-size: 32px;
  }
  .grooming-canin-pricing-card-subtitle {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .grooming-canin-pricing-header-title {
    font-size: 28px;
  }
  .grooming-canin-pricing-header-description {
    font-size: 16px;
  }
  .grooming-canin-pricing-card-title {
    font-size: 28px;
  }
  .grooming-canin-pricing-card-subtitle {
    font-size: 20px;
  }
}

@media (max-width: 479px) {
  .grooming-canin-pricing-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .grooming-canin-pricing-header-title {
    font-size: 26px;
  }
  .grooming-canin-pricing-card-title {
    font-size: 24px;
  }
  .grooming-canin-pricing-card-subtitle {
    font-size: 16px;
  }
  .grooming-canin-pricing-card-info {
    font-size: 12px;
  }
}
