.main-page-intro-container {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-image: linear-gradient(
    180deg,
    #f0f9f8 0%,
    #ffd3dd 30%,
    #f3a2b3 100%
  );
}

.main-page-intro-column {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
}

.main-page-intro-header {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}

.main-page-intro-title {
  font-family: "ChalkboardSE-Regular";
  font-size: 48px;
  text-align: center;
  line-height: 1.2;
}

.main-page-intro-description {
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-family: "ChalkboardSE-Regular";
}

.main-page-intro-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}

.main-page-intro-row-container {
  width: 100%;
}

.main-page-intro-image {
  width: 400px;
  height: 400px;
}

@media (max-width: 1600px) {
  .main-page-intro-title {
    font-size: 44px;
  }
  .main-page-intro-description {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  .main-page-intro-title {
    font-size: 40px;
  }
  .main-page-intro-description {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .main-page-intro-title {
    font-size: 36px;
  }
  .main-page-intro-description {
    font-size: 14px;
  }
  .main-page-intro-image {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 767px) {
  .main-page-intro-title {
    font-size: 32px;
  }
  .main-page-intro-content {
    width: 100%;
  }
}

@media (max-width: 479px) {
  .main-page-intro-container {
    gap: var(--dl-layout-space-halfunit);
  }
  .main-page-intro-title {
    font-size: 28px;
  }
  .main-page-intro-image {
    width: 200px;
    height: 200px;
  }
}
